#header {
    font-family: cursive;
    font-size: 20px;
    color: rgb(115, 115, 115);
    text-align: center;
}

table {
    margin: auto
}

.input-field {
    margin: 5px;
    padding: 3px;
}

input[type="number"] {
    border: 2px solid green;
}

table td {
    vertical-align: top;
}

body {
    font-family: Arial, sans-serif;
    color: black;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid #494a4f;
    border-radius: 1px;
    border: none;
}

.pagination button:active {
    background-color: #ec6b6b;
    color: white;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type="button"], input[type="submit"] {
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 4px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #dcdcdc;
}

input[type="submit"]:active {
    background-color: rgba(255, 0, 0, 0.4);
}

table .input-field {
    border: 1px solid #aaa;
}
